/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .contenedor {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
  }
  .formulario {
    width: 100% !important;
  }
  .field {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .tabla {
    width: 100% !important;
  }
}